@font-face {
    font-family: "Paralucent";
    font-style: thin;
    font-weight: 100;
    src: url('./ParalucentThin.otf') format('truetype');
}
  
@font-face {
    font-family: "Paralucent";
    font-style: lighter;
    font-weight: 200;
    src: url('./ParalucentExtraLight.otf') format('truetype');
}
  
@font-face {
    font-family: "Paralucent";
    font-style: light;
    font-weight: 300;
    src: url('./ParalucentCondLight.otf') format('truetype');
}
  
@font-face {
    font-family: "Paralucent";
    font-style: normal;
    font-weight: 400;
    src: url('./ParalucentMedium.otf') format('truetype');
}
  
@font-face {
    font-family: "Paralucent";
    font-weight: 500;
    src: url('./ParalucentDemiBold2.otf') format('truetype');
}
  

@font-face {
    font-family: "Paralucent";
    font-style: bold;
    font-weight: 700;
    src: url('./ParalucentBold.otf') format('truetype');
}
  

@font-face {
    font-family: "Paralucent";
    font-style: bolder;
    font-weight: 900;
    src: url('./ParalucentHeavy.otf') format('truetype');
}

@font-face {
    font-family: "ParalucentStencil";
    font-style: bolder;
    font-weight: 900;
    src: url('./ParalucentStencilHeavy.otf') format('truetype');
}